/* Irrelevante para la solución */
* {
    overflow: hidden;
}
.video__miniatura {
    /* Irrelevante para la solucíon */
    display: flex;
    position: relative;
    margin: 0px;
    justify-content: center;
    align-items: center;
    
    /* Variable inical */
    --icon-video--opacidad: 1;
}

/* Irrelevante para la solucíon */
.video__miniatura::before {
    content: "";
    position: absolute;

    background-image: linear-gradient(180deg, rgba(145, 72, 72, 0), rgb(255 255 0 / 40%));
    background-size: 100%;

    width: 100%;
    height: 100%;
}

.video__miniatura:hover {
    /* Variable modificada */
    --icon-video--opacidad: 0.5;
}

.video__miniatura:hover::before {
    opacity: 0;
}

/* Irrelevante para la solucíon */
.video__imagen {
    width: 100%;
    height: 100%;
}

.video__icon-video {
    /* Irrelevante para la solucíon */
    position: absolute;
    width: 20%;
    
    /* Variable modificable */
    opacity: var(--icon-video--opacidad);
}